<%- include('partials/header') -%>
	<body>
		<h1 class="text-success">Welcome to Market.Inc</h1>
        <h2 style="font-family: 'Caprasimo', cursive">Market.Inc is an open marketplace for sellers and users to buy, sell, interact, communicate and complete a business deal! Create an account for free today to unlock your potential as a seller OR just buy stuff easily! </h2>
			<div class="d-flex flex-row">
			<a href="/login" class="p-2 mx-3 bg-light text-dark bd-highlight border border-dark">Login</a>
        	<a href="/signup" class="p-2 mx-3 bg-light text-dark bd-highlight border border-dark">Sign Up Now!</a>
			</div>
	</body>
</html>
<%- include('partials/footer') -%>
